<label class="error-message">{{ recommandedErrMessage }}</label><br>

<div div align="center">
    <h1>
        <button mat-button (click)="routeToDashboard()">
            <h1>Dashboard Books</h1>
        </button>
        | <button mat-button (click)="routeToFavouriteView()">
            <h1>Bookmarked Books</h1>
        </button>
        | <button mat-button (click)="logout()">
            <h1>Logout</h1>
        </button>
    </h1>
</div>

<h1 align="center">Recommended Books</h1>
<div class="book-note-container">
    <mat-card class="my-class-name" *ngFor="let book of recommanded">
        <mat-card-subtitle>Title: {{book.bookTitle}}</mat-card-subtitle>
        <mat-card-subtitle>Recommendation count : {{book.recommendationCount}}</mat-card-subtitle>
        <mat-card-subtitle><img src='{{book.bookURL}}' /></mat-card-subtitle>
    </mat-card>
</div>
