<div class="login-form-field">
    <h1>Login</h1>
    <strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>
<form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()">
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="User Name" formControlName="username" class="username">
        <mat-error *ngIf="loginFormGroup.get('username').hasError('required')">
            User Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password" #password type="password" formControlName="password" class="password">
        <mat-error *ngIf="loginFormGroup.get('password').hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit-button" [disabled]="!loginFormGroup.valid">Submit</button>
    <br>
    <a (click)="switchView()">Register Now</a>
</div>
</form>
</div>